.divPrincipalCadastro {
  height: 100rem;
  display: flex;
  justify-content: center;
}

.cadastroContainer {
  margin-top: 3rem;
  height: 40rem;
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 2%;
  box-shadow: .3rem .3rem .3rem rgba(0, 0, 0, 0.76);
  padding: 1rem;
  background-color: #2e2f2f;
  color: #FBFFF1;
}

.tituloCadastro {
  margin-top: 3rem;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 2.5rem;
}

.formCadastro {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerInputsPai {
  display: flex;
}

.containerInputs {
  display: flex;
  flex-direction: column;
  margin-right: 5rem;
}

.labelCadastro {
  margin-bottom: 1rem;
  font-family: 'Plus Jakarta Sans', sans-serif; 
}

.inputCadastro {
  border-radius: 15px;
  margin-bottom: 2rem;
  width: 20rem;
  padding: 10px;
  border: 2px solid #000;
  color: #2e2f2f;
}

.inputDesc {
  height: 12rem;
  resize: none;
}

.btn {
  height: 2.5rem;
  width: 10rem;
  align-self: center;
  cursor: pointer;
  display: flex;
  font-size: larger;
  background-color: #3E4247;
  border: .1rem solid #2e2f2f;
  border-radius: 5%;
  color:#FBFFF1 ;
  text-decoration: none;
  text-align: center;
  font-family: 'Plus Jakarta Sans', sans-serif;
  justify-content: center;
  align-items: center;
}

.btn:hover{
  background-color: #FBFFF1;
  color: #2e2f2f;
  font-size: larger;
  font-weight: bolder;
  transition-duration: 1s;
  box-shadow: .1rem .1rem .9rem rgba(0, 0, 0, 0.76);
}

