@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

.divPai{
  font-family: 'Open Sans', sans-serif;
}

.divTitulo {
  width: auto;
  height: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #070707;
}

.tituloPrincipal {
  font-family: 'Alex Brush', cursive;
  font-size: 3.5rem;
  color: #FBFFF1;
  
}

.menu {
  width: 100%;
  height: 5rem;
  color: #FBFFF1;
  background-color: #070707;
  display: flex;
  justify-content: center;
  clip-path: polygon(0px 0px, 100% 0px, 100% 70%, 0px 100%);
  box-sizing: border-box;
  padding-bottom: 2rem;
}

.menuContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.menuHeader {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
}

.menuItens {
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  color: #FBFFF1;
  width: 150px;
  gap: 30px;
}

.menuItens:hover { 
  font-size: 1.3rem;
  transition: .2s;
  font-weight: bold;
  color: #FBFFF1;
}

.menuMobile {
  display: none;
}

@media (max-width: 820px) {
  .tituloPrincipal {
    font-size: 3.5rem;
  }

  .menu {
    clip-path: polygon(0px 0px, 100% 0px, 100% 80%, 0px 100%)
  }
  
  .menuContainer {
    justify-content: left;
    margin-left: 5%;
  }

  .menuMobile {
    display: flex;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    align-items: center;
    position: relative;
    z-index: 300;
  }

  .menuMobile.active::before {
    transform: rotate(90deg);
  }

  .menuMobile::before {
    margin-right: 4px;
    content: "";
    display: inline-block;
    height: 2px;
    width: 12px;
    background: #fff;
    box-shadow: 0 4px #fff, 0 -4px #fff;
    transition: transform 0.3s;
  }

  .menuHeader {
    display: none;
  }

  .menuHeader.active {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 3rem;
}
}