.divPrincCard {
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  padding: .3rem;
  gap: .4rem;
     
}

.cardInfos {  
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 28rem;
  border-radius: 2%;
  box-shadow: .3rem .3rem .3rem rgba(0, 0, 0, 0.76);
  padding: 1rem;
  background-color: #2e2f2f;
  align-items: center;
  justify-content: space-between;
  color: #FBFFF1;
  text-align: center;
  
}

.divImg img {
  max-width: 18rem;
  max-height: 15rem;
  border-radius: .5rem;
  box-shadow: .1rem .1rem .9rem rgba(0, 0, 0, 0.76);
  padding: 0;
}

.preco{
  font-weight: bolder;
}

.comprar {
  display: flex;
  font-size: larger;
  width: 10rem;
  height: 2.5rem;
  background: #3E4247;
  border: .1rem solid #2e2f2f;
  border-radius: 5%;
  color:#FBFFF1 ;
  text-decoration: none;
  text-align: center;
  font-family: 'Plus Jakarta Sans', sans-serif;
  align-items: center;
  justify-content: center;
}

button .comprar{
  align-items: center;
  justify-content: center;
  
  
}

.comprar:hover{
  background-color: #FBFFF1;
  color: #2e2f2f;
  font-size: larger;
  font-weight: bolder;
  transition-duration: 1s;
  box-shadow: .1rem .1rem .9rem rgba(0, 0, 0, 0.76);
}

.cardInfos:hover {
  transform: scale(1.05);
  transition-delay: 0.5;
  transition-duration: 1s;
}

.nomeItem{
  padding: .2rem;
  margin-top: .1rem;
  text-transform: uppercase;
  font-size: larger;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.icones {
  display: flex;
 align-self: flex-end;
 padding-bottom: .5rem;
}

.edit, .delete {
  display: flex;
  width: 2rem;
  height: 2rem;
  background: #3E4247;
  border: .1rem solid #2e2f2f;
  border-radius: 10%;
  color:#FBFFF1 ;
  margin-right: 1rem;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  
}

.delete {
  background-color: #c41431;
  color: #fff;
  cursor: pointer;
} 

