body{
  background: #daddd2;
}

ul {
  width: 80%;
  list-style:none;
  display: flex;
  justify-content: center;
  margin: 3rem auto;
}

ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul li p {
  margin: 1rem auto;
  text-align: justify;
  width: 85%;
  font-size: 1.3rem;
}

ul li button {
  padding: 10px;
  width: 60%;
  border-radius: .5rem;
  border-style: none;
  box-shadow: 1px 1px 8px black;
  cursor: pointer;
  background-color: rgba(62, 66, 71, .5);
  color: #fbfff1;
  font-weight: bold;
}

ul li button:hover {
  background: #070707;
}

img {
  border-radius: .5rem;
  box-shadow: 1px 1px 8px black;
  padding: 0;
}

.min {
  width: 180px;
  display: block;
}

.lbox {
  visibility: hidden;
  opacity: 0;
}

.lbox:target {
  opacity: 1;
  visibility: visible;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  background: rgba(10,10,10, .9);
  position: fixed;
}

img:hover {
  transform: scale(1.05);
  transition: 200ms;
}

.box_img {
  width: 35%;
  margin: 0px auto;
}

.btn{
  color: #fff;
  font-family: 'Arial';
  text-decoration: none;
  position: absolute;
  width: 50px;
  height: 50px;
  font-size: 40px;
  text-align: center;
}

#prev {
  left: 5%;
  top: 45%;
}

#next {
  right: 5%;
  top: 45%;
}

#close {
  right: 2%;
  top: 0;
}

.box_img img {
  opacity: 0;
}

.lbox:target .box_img img {
  width: 80%;
  margin-left: 100px;
  margin-top: 60px;
  opacity: 1;
  transition: opacity .4s linear;
}