body{
  background: #2e2f2f;;
}

.divPrincCard {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 5px;
  background-color: #daddd2;
   
}

.cardInfos {  
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
}

.divImg img {
  width: 20rem;
  height: 20rem;
  border-radius: .5rem;
  box-shadow: 1px 1px 8px black;
  padding: 0;
}

.comprar {
  margin-top: 10px;
  width: 200px;
  height: 30px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 4px;
  color: #000;
  text-decoration: none;
  text-align: center;
  font-family: 'Plus Jakarta Sans', sans-serif;
  cursor: pointer;
  align-items: center;
}

img:hover {
  transform: scale(1.05);
  transition: 200ms;
}

.nomeItem{
  text-transform: uppercase;
}