.divSuperior {
    width: 100%;
    height: 25rem;
    background-image: url("../../../assets/img/tatuador-fundo-crop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FBFFF1;
    margin-top: -50px;
    clip-path: polygon(0 12%, 100% 0, 100% 87%, 0% 100%);
    
  }
  
  .titulo {
    font-size: 3.2rem;
    text-transform: uppercase;
    text-shadow: .2rem .2rem rgba(0, 0, 0, 0.795);
    letter-spacing: .5rem;
    font-family: 'Plus Jakarta Sans', sans-serif;
  }
  
  .listaTattoo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  .listaItens {
    font-size: 2rem;
  }
  
  .btnAdd{
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    color: #FBFFF1;
    background-color: rgb(4, 61, 4);
    border-radius: 50%;
    padding: .4rem 1.2rem 1.1rem 1.2rem;  
    align-items: center;
    float: right;
    
  }
  
.tagAdd{
    align-items: center;
    justify-content: right;


}